*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins, sans-serif;
  background: #F5F5F5;
  width: 100%;
  height: 100vh;
}

p{
  font-size: 14;
  color: #1e1e1e;
  margin: 0;
}


h3{
  margin: 0
}

.side-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon{
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.ri-add-icon{
  font-size: 30px;
  color: #1e1e1e;
  cursor: pointer;
  border-radius: 4px;
  
}

.ri-add-icon:hover{
  background: linear-gradient(to right, #5000302e, #01003e2c);
  font-size: 30px;
  color: #1e1e1e;
  cursor: pointer;
}

.ri-add-icon:active{
  background: linear-gradient(to right, #50003042, #01003e40);
  font-size: 30px;
  color: #1e1e1e;
  cursor: pointer;
}

.open-icon{
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}


.ri-search-icon{
  font-size: 24px;
  color: #1e1e1e;
  cursor: pointer;
}


.active{
  background:rgba(255, 255, 255, 0.16)
}

.home{
  font-family: Poppins, sans-serif;
  display: flex;
  height: 100vh;
  background: brown;
  align-items: center;
  justify-content: space-between;
}

.no-todos{
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

/* ----------------------------------------------------------------------SideBar */


.mobile-sidebar{
  display: none;
}

.sidebar{
  background: url('./assets/avid-sidebar.png');
  background-size: cover;
  height: 100%;
  padding: 4rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: .2s ease-in-out;
}

.si-toggle{
  position: absolute;
  top: 10px;
  right: 10px;

}




.si-logo{
  width: 60%;
  
}

.si-logo img{
  /* width: 100%; */
}

.si-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.si-link{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 10px 0 10px 40px;
  cursor: pointer;
}

.si-link:hover{
  background: rgba(255, 255, 255, 0.1);
  
}

.si-link p{
  color: #fff;
  pointer-events: none;
  font-size: 12px;
}

/* ----------------------------------------------------------------------Logout */

.si-logout {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.si-logout:hover {
  background: rgba(255, 255, 255, 0.2);

}

.si-logout p {
  border: none;
  color: #fff;
  font-size: 12px;
}

/* ----------------------------------------------------------------------RightBar */

.rightbar {
  background: url('./assets/avid-rightbar.png');
  background-size: cover;
  flex: 4;
  height: 100%;
  padding: 36px 38px ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ri-name-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ri-search{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ri-open-up{
  display: none;
}

.ri-search-btn{
  background: linear-gradient(to right, #500030, #01003E);
  color :#fff;
  border: none;
  padding :.6rem 2rem;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  border-radius: 34px;
  transition:.2s ease all;
}

.ri-name{
  display: flex;
  height: 40px;
  align-items: center;
  /* background: brown; */
  justify-content: flex-start;
  position: relative;
}

.ri-name-input{
  padding:0 0 2px 1.2rem;
  height: 100%;
  border-radius: 40px;
  border: 1px #1e1e1e solid;
  /* flex: 1; */
  /* background: none; */
  width :100%;
  min-width: 10px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 500;
  background: none;
}

.ri-name-input:focus{
  outline: none;
}

.ri-name-input::placeholder{
  font-size: 18px;
}

.ri-name-input:disabled{
  padding: 0 .2rem;
  background: none;
  color: #1e1e1e;
  border: none;
}

.ri-edit-icon {
  font-size: 24px;
  color: #1e1e1e;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  padding: 2px;
  transition: .5s ease-in-out;
}

@keyframes change-color {
  from{
    background: #500030;
  }
  to{
    background: #01003E;
  }
}

.ri-edit-icon:hover {
  font-size: 24px;
  background: #500030;
  cursor: pointer;
  color: #fff;
  animation: 1s change-color  ;
}

.ri-search-bar{
  display: flex;
  align-items: center;
  border: 1px #1e1e1e solid; 
  width: 450px;
  height: 34px;
  border-radius: 34px;
  padding: 0 1rem;
  gap: 1rem;
}

.ri-search-bar input{
  height: 100%;
  width: 100%;
  border: none;
  background: none;
}

.ri-search-bar input:focus {
  outline: none;
  border: none;
}

.ri-search-btn:hover{
  background: linear-gradient(to right, #500030d7, #01003ed5);
}
.ri-search-btn:active{
  background: linear-gradient(to right, #500030, #01003E);
}

.ri-list-box{
  width: 100%;
  height: 90%;
  background: #f5f5f5;
  backdrop-filter: blur(10px);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  /* padding : 0 0 20px 0; */
}


.ri-title{
  padding : 14px 10px 6px 10px;
  width: 100%;
  border-bottom: 1px #D9D9D9 solid;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  /* background: blue; */
  justify-content: space-between;
}

.ri-tray-wrapper{
  width:100%;
  height: 92%;
  padding: 0 10px 10px 10px;
  overflow-y: scroll;
}

.ri-tray-wrapper::-webkit-scrollbar{
  width: 4px;
  background: #d9d9d9;
}

.ri-tray-wrapper::-webkit-scrollbar-thumb{
  background: linear-gradient(to right, #500030, #01003E);
}
.ri-tray{
  display: flex;
  flex-direction: column;
  position: relative;
}

.open{
  display: flex;
}

.close{
  display: none;
}

.ri-list-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px #d9d9d9 solid;
  padding: 14px 0 10px 0;
  transition: .3s ease all;
}

.ri-item-top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0 ;
  gap: 1rem;
}

.ri-top-text{
  width: 100%;
}



/* .ri-wrap{
  width: 80%;
  height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */



.ri-top-icons{
  display: flex;
  align-items: center;
  gap: .6rem;
  cursor: pointer;
}

.ri-tick-icon{
  font-size: 20px;
  color: blue;
  cursor: pointer;
}

.ri-empty-icon{
  border: 1px #1e1e1e solid;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.ri-delete-icon{
  font-size: 20px;
   color: #CA0000;
   cursor: pointer;
   border-radius: 4px;
   transition: .2s ease all;
}
.ri-delete-icon:hover{
  background: #ca000039;
  font-size: 20px;
   color: #CA0000;
   cursor: pointer;
}
.ri-delete-icon:active{
  background: #ca000069;
  font-size: 20px;
   color: #CA0000;
   cursor: pointer;
}

.ri-cancel-icon{
  background: none;
  color: #CA0000;
  cursor: pointer;
  font-size: 30px;
  border-radius: 4px;
  transition: .1s ease all;
}

.ri-cancel-icon:hover{
  background: #ca000022;
  /* color: #f5f5f5; */
  cursor: pointer;
  font-size: 30px;
}

.ri-cancel-icon:active{
  background: #ca000035;
  /* color: #f5f5f5; */
  cursor: pointer;
  font-size: 30px;
}
.ri-saved-icon{
  color : #03AA00;
  cursor: pointer;
  font-size: 30px;
  border-radius: 4px;
  transition: .2s ease all;
}

.ri-saved-icon:hover{
  background: #03aa0022;
}

.ri-saved-icon:active{
  background: #03aa0046;
}

.ri-item-bottom{
  display: flex;
  padding: 0 0 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.ri-item-bottom-input{
  width: 90%;
  background: #d9d9d9;
  border : 1px #c1c1c1 solid;
  height: 28px;
  border-radius: 30px;
  padding: 0 1rem;
}

.ri-item-bottom-input:focus{
  border : 1px #c1c1c1 solid;
  outline: none;
}

.ri-item-bottom-icons{
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ri-add-new-wrapper {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 ;
  border-bottom: 1px #d9d9d9 solid;
  position: sticky;
  top: 0;
}

.ri-add-new-wrapper h1{
  margin: 0;
}

.ri-add-new{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ri-add-new input{
  width: 80%;
  height: 24px;
  border: 1px #c1c1c1 solid;
  border-radius: 30px;
  background: #d9d9d9;
  padding: 0 1rem;
}

.ri-add-new input:focus{
  border: 1px #c1c1c1 solid;
  outline: none;
}

.ri-add-new-icons button{
  background: none;
  border: none;
  transition: .2s ease all;
  border-radius: 4px;
}

.ri-add-new-icons button:hover{
  border: none;
  background: #03aa001f;
}

/* .ri-add-new-icons button:hover .ri-saved-icon{
  border: none;
  color : #f5f5f5;
} */

.ri-add-new-icons button:active{
  border: none;
  background: #03aa0032;
  color : #f5f5f5 !important;
}